* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #fbf7e3;
  border-radius: 90px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 3%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  border-radius: 100px;
  text-align: center;
  margin: 10px;
  padding: 15px;
  background-color: #f3df85;
  border: none;
  color: #732104;
  list-style-type: none;
  font-weight: bold;
  font-size: 1rem;
  flex: 1 1 40%;
}

.special {
  width: 100%;
  width: 100%;
  order: -1;
  padding: 30px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}

ul li img {
  width: 50px;
  position: relative;
  top: 8px;
}

h1 {
  color: #732104;
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
}

#honeyPrice {
  background-color: #fef7e2;
  border-radius: 40px;
}
